:root{
	/* colours */
	--dark: #070a12;
	--light: #f1f5f9;
	--slate400: #cad4e1;
	--slate600: #718096;
	--slate800: #1e293b;
	--rose: #f43f5e;
	--indigo: #6366f1;
	--lime: #84cc16;
	--yellow: #facc15;
	
	
	/* sizes */
	--xxs: 0.5rem;
	--xs: 0.75rem;
	--sm: 0.875rem;
	--base: 1rem;
	--lg: 1.125rem;
	--xl-1: 1.25rem;
	--xl-2: 1.5rem;
	--xl-3: 1.875rem;
	--xl-4: 2.25rem;
	--xl-5: 3rem;
	--xl-6: 3.75rem;
	--xl-7: 4.5rem;
	--xl-8: 6rem;
	--xl-9: 8rem;
	--xl-10: 10rem;

	
}

*{
	margin: 0;
	line-height: calc(1em + 0.5rem);
}

html{
	scroll-behavior: smooth;
	
}
::-webkit-scrollbar{
	display: none;
}


.light-mode{
	--light: #070a12;
	--dark: #f1f5f9;
	--slate400: #1e293b;
	--slate600: #1e293b;
	--slate800: #1e293b;
}


body{
	font-family: 'Clash Display', sans-serif;
	background-color: var(--dark);
	color: var(--light);
}

img,picture,video,canvas,svg{
	display: block;
	max-width: 100%;
	user-select: none;
}

button{
	display: inline-block;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	color: inherit;
}
a{
	color: var(--rose);
}
strong{
	color: var(--indigo);
}